<!-- Application Header  -->
<div class="toolbar">
  <h1>{{ title }}</h1>
  <button class="add-new-btn" (click)="toggleAddNewCategory()">Add New Category</button>
</div>

<!-- Add New Category Modal -->
<div class="overlay-wrapper" *ngIf="isOpenAddNewCat"></div>
<app-add-new-category-modal 
  [isOpen]="isOpenAddNewCat"
  (close)="toggleAddNewCategory()"
  (addCategory)="addCategory($event)">
</app-add-new-category-modal>

<!-- List of Todo Card -->
<div>
  <div class="card-container">
    <div class="card" *ngFor="let cat of categories">
      <div class="card-header">
        <h3>{{cat.name}}</h3>
        <button 
          class="delete-category-btn"
          (click)="deleteCategory(cat.id)">
          Delete
        </button>
      </div>
      <div class="card-content">
        <div class="todo-item-box" *ngFor="let item of cat.items">
          <div>
            <input 
              type="checkbox" 
              [checked]="item.isDone" 
              (change)="updateTodoStatus(cat.id, item.id)"/>
            <span>{{item.name}}</span>
          </div>
          <button 
            class="delete-todo-btn"
            (click)="deleteTodo(cat.id, item.id)">
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
        <input 
          class="add-new-todo" 
          placeholder="Add new To-Do"
          (keyup.enter)="addTodo(cat.id, $event)"/>
      </div>
    </div>
  </div>
</div>